<div class="container centered">
    <div class='container box2'>
        <h3>Fight Log</h3>
    </div>

    <br>

    <div class='container box3'>
        <h3>Combat Field</h3>
    </div>

    <br>

    <div class='container box2'>
        <h3>Action Buttons</h3>
    </div>
</div>
