:root{
    --prs:#003049;
    --mxr:#d62828;
    --ora:#f77f00;
    --myr:#fcbf49;
    --lmm:#eae2b7;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--prs);
}

.container{
    background-color: var(--mxr);
}

.box2 {
    background-color: var(--myr);
    display:block;
}

.box3 {
    background-color: var(--lmm);
    display:block;
}

.buttonBox {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    display: inline;
}

/* Page Header */
h1 {
    display: inline-block;
    font-size: 24px;
    color: var(--prs);    
}

/* Section Header */
h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

li {
    display: inline-block;
    margin-left: 25px; 
    color: var(--lmm);
}

a {
   text-decoration: none;
   color:var(--lmm)
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    background-color: var(--lmm);
}

article a {
    font-size: 24px;
    font-weight: bold;
    color: var(--lmm);
}


textarea {
    margin-left: 15px
}


.foot {
    margin-top: 2.5%;
    margin-left: -25px;
}

/* Fight Log CSS */
.fightlog {
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    box-sizing: border-box;

    color: var(--lmm);

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: var(--prs);
}

.message {
    text-align: center;
    font-size: 24px;
}

/* Nav button Rules */
.home,
.proj,
.abt,
.cont {
    font-size: 25px;
    color: var(--mxr);
    transition: all .2s ease-in-out;
}


.home:hover,
.proj:hover,
.abt:hover,
.cont:hover {
    color:white;
    transform: scale(1.25)
}
